.App {
  text-align: center;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  width: 300px;
  margin: auto;
}

.button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 0,5mm solid black;
  cursor: pointer;
  transition: all 0.3s ease;
}